In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdesdaesdaesdasaeda'))
s

0     a
1     s
2     d
3     e
4     s
5     d
6     a
7     e
8     s
9     d
10    a
11    e
12    s
13    d
14    a
15    s
16    a
17    e
18    d
19    a
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [5]:
s.value_counts()

a    6
d    5
s    5
e    4
dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [7]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64